exercicio_3/imag/bg.jpg
exercicio_3/imag/css3.png
exercicio_3/imag/html5.png
exercicio_3/imag/newWindow.png
exercicio_3/imag/pdf-icon.gif
exercicio_3/imag/slide1.jpg
exercicio_3/imag/slide2.jpg
exercicio_3/imag/slide3.jpg
exercicio_3/imag/slide4.jpg
exercicio_3/imag/tile.png
exercicio_3/imag/thumbs/01.jpg
exercicio_3/imag/thumbs/02.jpg
exercicio_3/imag/thumbs/03.jpg
exercicio_3/imag/thumbs/04.jpg
exercicio_3/imag/thumbs/05.jpg
exercicio_3/imag/thumbs/06.jpg
exercicio_3/imagens/bg-1.jpg
exercicio_3/imagens/bg-2.jpg
exercicio_3/imagens/bg-3.jpg
exercicio_3/imagens/bg-4.jpg
exercicio_3/imagens/card_01.png
exercicio_3/imagens/card_02.jpg
exercicio_3/imagens/card_03.jpg
exercicio_3/imagens/card_04.jpg
exercicio_3/imagens/card_05.jpg
exercicio_3/imagens/Screenshot.png
fashion/img_fashion/bg_detalhe.png
fashion/img_fashion/logo.png
fashion/img_fashion/modelo1.jpg
fashion/img_fashion/modelo2.jpg
fashion/img_fashion/modelo3.jpg
fashion/img_fashion/topo.jpg
javascript teste/html/thumbs/01.jpg
javascript teste/html/thumbs/02.jpg
javascript teste/html/thumbs/03.jpg
javascript teste/html/thumbs/04.jpg
javascript teste/html/thumbs/05.jpg
javascript teste/html/thumbs/06.jpg
Restaurante/foto/dom.jpeg
Restaurante/foto/front.png
Restaurante/foto/mesaSuja.jpg
Restaurante/foto/mesaUsando.jpg
Restaurante/foto/mesaVazia.jpg
Restaurante/foto/qua.png
Restaurante/foto/qui.jpg
Restaurante/foto/sab.jpg
Restaurante/foto/seg.png
Restaurante/foto/sex.jpg
Restaurante/foto/ter.jpg
teste/images/bg-clientes.jpeg
teste/images/bg-search.jpg
teste/images/destaque-1.jpeg
teste/images/destaque-2.jpeg
teste/images/destaque-3.jpeg
teste/images/destaque-4.jpeg
teste/images/dom.jpeg
teste/images/logo.png
teste/images/qua.png
teste/images/qui.jpg
teste/images/sab.jpeg
teste/images/salada.jpg
teste/images/seg.png
teste/images/sex.jpg
teste/images/ter.jpg
teste/images/testemunha-01.jpg
teste/images/testemunha-02.jpg
teste/images/testemunha-03.jpg
teste/webfonts/fa-brands-400.eot
teste/webfonts/fa-brands-400.svg
teste/webfonts/fa-brands-400.ttf
teste/webfonts/fa-brands-400.woff
teste/webfonts/fa-brands-400.woff2
teste/webfonts/fa-regular-400.eot
teste/webfonts/fa-regular-400.svg
teste/webfonts/fa-regular-400.ttf
teste/webfonts/fa-regular-400.woff
teste/webfonts/fa-regular-400.woff2
teste/webfonts/fa-solid-900.eot
teste/webfonts/fa-solid-900.svg
teste/webfonts/fa-solid-900.ttf
teste/webfonts/fa-solid-900.woff
teste/webfonts/fa-solid-900.woff2
teste/debug.log
